body
{
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
   color: darkblue;
   margin: 0;
   padding: 0;

}

#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: gray;
    margin: 0%;
}

#container1
{
    font-size: 20px;
}