body
{
   text-align: center;
   font-family: "Arial";
   color: darkblue;
   margin: 0;
   padding: 0;

}
#cabecera
{
    background: blue;
    box-shadow: 0px 2px 20px rgba(0,0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 5cm;
}

#cabecera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.8cm;
}
#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: gray;
    margin: 0%;
}

#container1
{
    font-size: 20px;
}